.loader-icon {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
.webui-popover {
    padding: 0;
    background-color: #EEEEEE;
}
.webui-popover-inner {
    position: relative;
    padding: 7px 0;
    overflow: hidden;
}
.webui-popover-inner a {
    color: #000;
}
.webui-popover-inner a:hover {
    text-decoration: underline;
}
.webui-popover-inner a:hover i {
    text-decoration: none;
}
.PrevImgInDoc, .NextImgInDoc {
    font-size: 17px;
}

.webui-popover.left > .arrow, .webui-popover.left-top > .arrow, .webui-popover.left-bottom > .arrow {
    top: 176px;
}

.preview-btn{
    float:right;
}

/** UI Popover Scroll bar Styling **/

div.webui-popover::-webkit-scrollbar {
    width: 12px;
}

div.webui-popover::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

div.webui-popover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/** UI Popover Scroll bar Styling **/

.page-count{
    text-align:center;
    font-size: 18px;
    color: #000;
}

.PrevImgInDoc, .NextImgInDoc {
    position: static;
}
.webui-popover-inner .close {
    font-size: 28px;
    margin-top: 0;
}
.MaximizePopover {
    margin-right: 10px;
}
#results_list {
    clear: both;
    overflow: hidden;
}
#results_list .result {
    border: 1px solid #FFFFFF;
}
#results_list .result.previewing {
    background-color: #EFF8FF;
    border: 1px solid #CCCCCC;
}
#results_list .result .desc {
    width: 1px;
}
.webui-popover.right > .arrow:after, .webui-popover.right-top > .arrow:after, .webui-popover.right-bottom > .arrow:after {
    border-right-color: #EEEEEE;
}
.webui-popover-content {
    padding: 0;
    overflow: visible;
}
.webui-popover-inner-content {
    padding: 0;
    overflow: auto;
    margin: 30px 10px 10px;
    border: 1px solid #ccc;
    height: 300px;
}
.popup-header {
    position: relative;
}
.popover-pagination {
    position: absolute;
    left: 10px;
}
.popup-actions {
    position: absolute;
    right: 10px;
}